*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background: url("./img/paven.png");
}

.container{
  height: auto;
  width: 100%;
}

header{
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
}
.logo img{
  display: block;
  height: 170px;
  margin: auto; 
}
.logo h1{
  color: rgb(3, 100, 3);
  font-family: sans-serif, Helvetica, sans-serif;
  margin-top: 5px;
  text-align: center;
  text-shadow: 0px 2px 1px #464646;
  text-transform: uppercase;
  transition: color .3s;
}
.logo h1:hover{
  color: rgb(1, 63, 1);
}
.nav{
  background-color: #333333;
  font-family: sans-serif, Helvetica, sans-serif;
  height: auto;
}
.nav ul{
  list-style: none;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}
.nav > ul > li{
  text-align: center;
  line-height: 50px;
  border-right: 1px solid gray;
  transition: background .5s, box-shadow .3s
}
.nav > ul > li:hover{
  background-color: rgb(1, 63, 1);
  box-shadow: 0px 2px 2px #3d3d3d;
}
.nav > ul > li:first-child{
  border-left: 1px solid gray;
}
.nav > ul > li a{
  color: whitesmoke;
  text-decoration: none;
}
.body{
  display: flex;
  align-items: flex-start;
  height: auto;
  margin: 40px auto;
  min-height: 800px;
  width: 100%;
  padding: 0 30px;
}
.panel-left{
  box-shadow: 0px 0px 5px #464646;
  width: 22%;
  padding-top: 20px;
}
.panel-left h2{
  font-family: Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.login, .aula-virtual {
  padding: 15px;
  border-bottom: 2px solid grey;
}
.title{
  background-color: rgb(235, 232, 232);
  box-shadow: 0px 0px 1px #464646;
}
.login form, .aula-virtual form{
  margin-top: 25px;
}
.aula-virtual{
  padding: 15px;
  border-bottom: 2px solid grey;
}
.aula-virtual:last-child{
  border-bottom: 0px;
}
form input[type=text], form input[type=password]{
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  border-bottom: 1px solid rgb(1, 63, 1);
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
  padding: 10px;
  transition: color .3s, box-shadow .6s ease;
  width: 95%;
}
form input[type=text]:focus, form input[type=password]:focus{
  color: rgb(1, 63, 1);
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(75, 151, 75, 0.8);
  /*outline Quitar los bordes del input*/
  outline:none;
}
form input[type=button]{
  background-color: teal;
  border: 0px;
  border-radius: 2px;
  color: whitesmoke;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 50%;
  padding: 7px;
  transform: translateX(-50%);
  transition: box-shadow .6s ease;
  width: 80%;
}
form input[type=button]:hover{
  border: 0px;
  box-shadow: 0px 1px 3px #464646;
  font-weight: bold;
  outline:none;
  cursor: pointer;
}

.login a, .aula-virtual a{
  display: block;
  text-decoration: none;
  color: rgb(1, 63, 1);
  margin-top: 10px;
  margin-bottom: 15px;
}

.aula-virtual .title{
  background-color: rgba(0, 128, 128, 0.8);
  border-left: none;
  border-right: none;
  color: white;
  border-radius: 2px;
}

.aula-virtual span{
  display: block;
  float: right;
  margin-right: 10px;
  border-radius: 10px;
  padding: 3px;
  font-size: 14px;
  background-color: rgba(243, 118, 1, 0.8);
  color: white;
}
.aula-virtual .lista-aulas{
  margin-top: 25px;
}
.panel-news{
  width: 80%;
  margin-left: 50px;
}
.news{
  background-color: whitesmoke;
  /*
    box-shadow sombra del div
      1er parametro posicion a la derecha
      2do parametro posicion arriba
      3er parametro intencidad de la sombra
  */
  border-radius: 5px;
  box-shadow: 0px 0px 5px #464646;
  height: 0px auto;
  margin-bottom: 30px;
  padding: 30px;
  width: 90%;
}
.news h2{
  border-bottom: 1px solid rgba(180, 180, 180, 0.9);
  font-family: Tahoma, sans-serif;
  font-size: 25px;
  color: rgb(73, 73, 73);
  padding-bottom: 10px;
  text-align: center;
}
.news article p{
  margin-top: 25px;
  text-align: justify;
}
.news a{
  text-decoration: none;
  color: rgb(1, 177, 1);
}
.date{
  display: block;
  float: right;
  color: gray;
  font-size: 14px;
}
footer{
  background-color: #333333;
  color: aliceblue;
  font-size: 20px;
  margin-top: 40px;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
}

@media (max-width:767px){
  .body{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
  }
  .panel-left{
    width: 80%;
    margin-bottom: 50px;
  }
  .panel-news{
    margin-left: 0px;
  }
  .news{
    width: 100%;
  }
  .login h2{
    height: auto;
    padding: 5px;
  }
}


@media(max-width:575px){
  .body{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
  }
  .panel-left{
    width: 95%;
    margin-bottom: 50px;
  }
  .panel-news{
    margin-left: 0px;
    width: 95%
  }
  .news{
    width: 100%;
  }
  .login {
    padding: 15px;
    border-bottom: 2px solid grey;
    display: flex;
    flex-direction: column;
  }
  .login h2{
    height: auto;
    padding: 5px;
  }
  
}